<div class="todos-container">
    <div class="todos">
        <ng-container *ngIf="doesExistTodos">
            <app-todo *ngFor="let todo of todos" [todo]="todo"></app-todo>
        </ng-container>
        <ng-container *ngIf="!doesExistTodos">
            <div class="no-todo">No todos have been added yet</div>
        </ng-container>
        
        <!-- <ng-container *ngIf="!doesExistTodos">
            <app-todo [todo]="{text:'No todos have been added'}"></app-todo>
        </ng-container> -->
    </div>
</div>
