.add-todo-container{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 18px;
}


.add-todo-form{
    border: 6px solid #A66FF1;
    border-radius: 5px;
    width: 50%;
    display: flex;
    box-sizing: border-box;
}

input[type='text']{
    width: 80%;
    padding: 15px;
    font-size: 18px;
    border: none;
    outline: none;
}

input[type='submit']{
    width: 20%;
    background: #6AB4F1;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.disabled{
    opacity: 0.8;
}

.error-msg{
    box-sizing: border-box;
    background:#F8D7DA;
    color:#9B555F;
    font-size: 20px;
    font-weight: 0.9em;
    letter-spacing: 1px;
    width: 50%;
    margin: 0 auto;
    padding: 9px 0;
    text-align: center;
    border: 1px solid #F7D1D5;
    border-radius: 4px;
    position: relative;
}

.close-btn{
    position: absolute;
    top: -10px;
    right: 0px;
    font-weight: bolder;
    font-size: 40px;
    cursor: pointer;
}

.d-none{
    display: none;
}

@media screen and (max-width:992px) {
    .add-todo-form{
        width: 60%;
    }
    .error-msg{
        width: 60%;
    }
}

@media screen and (max-width:880px) {
    .add-todo-form{
        width: 70%;
    }
    .error-msg{
        width: 70%;
    }
}

@media screen and (max-width:700px) {
    .add-todo-form{
        width: 80%;
    }
    .error-msg{
        width: 80%;
    }
}

@media screen and (max-width:568px) {
    .add-todo-form{
        width: 90%;
    }
    .error-msg{
        width: 90%;
    }
}