.btn-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
}

.row{
    width: 100%;
    display: flex;
    column-gap: 15px;
}

.w-25{
    width: 25%;
}

/* .btn{
    width: 25%;
    height: 80px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 5px 0 0 #88A4BA;
}

.btn:active{
    background: #AACEE8;
    transition: 0.3s linear;
}


.input-btn{ 
    background: #F3FBEC;
}

.result-btn{
    background: #F3FBEC;
}

.operators{
    background: #F1FEA2;
}

.clear{
    background: #F0A3AB;
} */
