.todo{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 2px solid #9B9B9B;
    padding-bottom: 2px;
}

.todo-content{
    width: 90%;
    font-size: 18px;
    font-weight: 500;
    color: #9B9B9B;
    word-break: break-all;
}


.todo-delete{
    color: #9B9B9B;
    cursor: pointer;
}

.line-through{
    text-decoration: line-through;
}