<ul class="nav d-flex justify-content-end">
    <li class="nav-item">
        <a
            class="nav-link active"
            [routerLink]="''"
            [routerLinkActive]="['text-success', 'text-decoration-underline']"
            [routerLinkActiveOptions]="{ exact: true }"
            >Login</a
        >
    </li>
    <li class="nav-item">
        <a
            class="nav-link"
            [routerLink]="'signup'"
            [routerLinkActive]="['text-success', 'text-decoration-underline']"
            >Signup</a
        >
    </li>
</ul>
